# 1. define set
- a set is a collection of unique elements
- it is defined using curly braces{} and seperated by comma(,)
- sets are used to store multiple items in a single variable
- sets are unordered,mutable and do not allow duplicte elements
- sets provide a variety of methods for performing common set operations like union ,intersection,difference and more

# 2. examples of sets

In [1]:
name={'akshaya','ram','srija'}
print(type(name))

<class 'set'>

In [3]:
cricketers={'mahi','gill','hardik','sanju'}
print(cricketers)

{'hardik', 'mahi', 'sanju', 'gill'}

In [5]:
num={1,2,3,5,7,8,9}
print(num)

{1, 2, 3, 5, 7, 8, 9}

In [13]:
mixed_set={'akshaya','7','gill','7+8j'}
print(mixed_set)

{'7', 'akshaya', 'gill', '7+8j'}

In [19]:
num={1,2,3,5,9}
print(num)

{1, 2, 3, 5, 9}

In [137]:
empty={}
print(empty)

{}

In [139]:
name={'ram'}
print(name)
print(type(name))

{'ram'}
<class 'set'>

In [141]:
num={99.7,66.8,44.8}
print(num)

{66.8, 99.7, 44.8}

In [143]:
fruits={'banana','apple','mango'}
print(fruits)

{'banana', 'mango', 'apple'}

In [145]:
print(type(fruits))

<class 'set'>

In [153]:
cars={'ferrari','porsche','thar'}
print(type(cars))
print(cars)

<class 'set'>
{'ferrari', 'porsche', 'thar'}

# 3. convert one type to another set

In [15]:
name={'akshaya','ram','srija'}
z=set(name)
print(z)
print(type(z))

{'srija', 'akshaya', 'ram'}
<class 'set'>

In [17]:
num={1,2,3,5,7,8,9}
z=set(num)
print(z)
print(type(z))

{1, 2, 3, 5, 7, 8, 9}
<class 'set'>

In [21]:
mixed_set={'akshaya','7','gill','7+8j'}
a=set(mixed_set)
print(a)
print(type(a))

{'7', 'akshaya', 'gill', '7+8j'}
<class 'set'>

In [23]:
cricketers={'mahi','gill','hardik','sanju'}
a=set(cricketers)
print(a)
print(type(a))

{'hardik', 'mahi', 'sanju', 'gill'}
<class 'set'>

In [25]:
fruits={'apple','banana','mango'}
a=set(fruits)
print(a)
print(type(a))

{'banana', 'mango', 'apple'}
<class 'set'>

# 4. add and updating set items

In [27]:
a={1,2,3,4,5,6,7,8,9,10}
print(a)
a.add(100,)
print("updated:",a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
updated: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100}

In [29]:
a={4,88,99,55}
a.add(66.7)
print(a)

{66.7, 99, 4, 55, 88}

In [31]:
cricketers={'mahi','gill','hardik','sanju'}
cricketers.add('rutu')
print(cricketers)

{'sanju', 'hardik', 'rutu', 'mahi', 'gill'}

In [51]:
a={1,6,7,8,9,10}
print(a)
a.add(100,)
print("updated:",a)

{1, 6, 7, 8, 9, 10}
updated: {1, 100, 6, 7, 8, 9, 10}

In [37]:
a={1,2,3,4,5,6,7,10}
a.add(100,)
print(a)

{1, 2, 3, 4, 5, 6, 7, 100, 10}

In [45]:
a={1,2,3,4,5,6,7,8,9,10}
c={55,77,88}
a.update(c)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 77, 55, 88}

In [47]:
cricketers={'mahi','gill','hardik','sanju'}
v={'rutu'}
cricketers.update(v)
print(cricketers)

{'sanju', 'hardik', 'rutu', 'mahi', 'gill'}

In [49]:
a={4,88,99,55}
j={100}
a.update(j)
print(a)

{99, 4, 100, 55, 88}

In [53]:
fruits={'apple','mango','grapes'}
z={'banana'}
fruits.update(z)
print(fruits)

{'grapes', 'banana', 'mango', 'apple'}

In [55]:
name={'akshaya','ram','srija'}
z={'chandu'}
name.update(z)
print(name)

{'srija', 'akshaya', 'ram', 'chandu'}

# 5. removing an element from the set

In [59]:
cricketers={'mahi','gill','hardik','sanju'}
removed=cricketers.discard('sanju')
print(cricketers)

{'hardik', 'mahi', 'gill'}

In [63]:
fruits={'apple','banana','mango'}
a=fruits.discard('mango')
print(fruits)

{'banana', 'apple'}

In [65]:
name={'akshaya','ram','srija'}
z=name.discard('srija')
print(name)

{'akshaya', 'ram'}

In [67]:
num={1,2,3,5,7,8,9}
v=num.discard(7)
print(num)

{1, 2, 3, 5, 8, 9}

In [69]:
num={1,2,3,5,9}
n=num.discard(1)
print(num)

{2, 3, 5, 9}

In [71]:
cricketers={'mahi','gill','hardik','sanju'}
cricketers.remove('sanju')
print(cricketers)

{'hardik', 'mahi', 'gill'}

In [73]:
num={1,2,3,5,9}
num.remove(1)
print(num)

{2, 3, 5, 9}

In [75]:
name={'akshaya','ram','srija'}
z=name.remove('srija')
print(name)

{'akshaya', 'ram'}

In [77]:
fruits={'apple','banana','mango'}
a=fruits.remove('mango')
print(fruits)

{'banana', 'apple'}

In [79]:
num={1,2,3,5,9}
n=num.remove(1)
print(num)

{2, 3, 5, 9}

# 6.python set operations

1. union: it combines element in two sets

In [81]:
#example
a={1,2,3,4,5,6,7,8,9,10}
c={55,77,88,77}
print(a.union(c))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 77, 55, 88}

2. intersection: the intersection of two sets a and b include the common elements between set a and b

In [83]:
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.intersection(b))

{3, 4, 5}

3. difference: the difference between two sets a and b include elements of set a that are not present on set b

In [85]:
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.difference(b))

{1, 2}

4. symmetric_difference: the symmetric difference between two sets a and b includes all elements of a and b without common elements

In [87]:
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.symmetric_difference(b))

{1, 2, 6, 7}

# 7.methods in sets

1. add: it adds new element to the set

In [95]:
a={1,2,3,4,5}
a.add(90)
print(a)

{1, 2, 3, 4, 5, 90}

2. clear: removes the all elements from the list

In [97]:
a={1,2,3,4,5}
a.clear()
print(a)

set()

3. copy: it returns the copy of the set

In [99]:
a={1,2,3,4,5}
a.copy()
print(a)

{1, 2, 3, 4, 5}

4. difference: returns the element which are present in the first set but not in the second

In [103]:
a={1,2,3,4,5}
b={4,5,6,7}
print(a-b)

{1, 2, 3}

5. difference_update: removes the item in this set that are also included in another,specified set

In [105]:
a={1,2,3,4,5}
b={4,5,6,7}
a.difference_update(b)
print(a)

{1, 2, 3}

6. discard:removes the specific element from the list

In [107]:
a={1,2,3,4,5}
b=a.remove(3)
print(a)

{1, 2, 4, 5}

7. intersection: it returns the elements which are common in two sets

In [109]:
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.intersection(b))

{3, 4, 5}

8. intersection_update:removes the items in this set that are not present in other,specified sets

In [113]:
a={1,2,3,4,5}
b={3,4,5,6,7}
a.intersection_update(b)
print(a)

{3, 4, 5}

9. union:it combines element in two sets

In [169]:
#example
a={1,2,3,4,5,6,7,8,9,10}
c={55,77,88,77}
print(a.union(c))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 77, 55, 88}

10. update: it adds the element to the set

In [172]:
#example
a={1,2,3,4,5,6,7,8,9,10}
c={55,77,88,77}
a.update(c)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 77, 55, 88}

11. remove:it removes the specific element from the set

In [119]:
num={1,2,3,5,9}
num.remove(1)
print(num)

{2, 3, 5, 9}

12. symmetric difference: the symmetric difference between two sets are a and b includes all elements of a and b without common elements

In [121]:
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.symmetric_difference(b))

{1, 2, 6, 7}

13. symmetric_difference_update: it updates the existing caller set with the symmetric difference of sets

In [127]:
a={1,2,3,4,5}
b={3,4,5,6,7}
a.symmetric_difference_update(b)
print(a)

{1, 2, 6, 7}

14. pop: it removes an element from the set

In [129]:
a={1,2,3,4,5}
a.pop()
print(a)

{2, 3, 4, 5}

15. isdisjoint: it checks whether the sets are disjoin or not,it returns true if they arent any common elements and false when it has

In [131]:
a={1,2,3,4,5}
b={3,4,5,6,7}
c=a.isdisjoint(b)
print(c)

False

16. issubset: it returns whether another set contains this set or not

In [133]:
a={1,2,3,4,5,88,99}
b={3,4,5,6,7}
print(b.issubset(a))

False

17. issuperset: it returns whether this set contains another set or not

In [135]:
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.issubset(b))

False