# 1. define about strings
- string is a sequence of characters
- we can use single quotes(' '),double quotes(" ")or triple quotes(''' ''')
- we can manipulate the variables by using various operations and string methods
- the string classbcan be represented by "str"

# 2.create 10 elements using ' ' and " "

In [5]:
z='mango'
print(z)

c='cricket'
print(c)

cricket='dhoni'
print(cricket)

ab='234'
print(ab)

a="dhoni,gill,hardik "
b=a*7
print(b)

str1='python'
str2="python"
str3= """this is a string"""
print(str3)

str1="hello world"
print(str1)

str1="1 2 3 4 5"
print(str1)

name="akshaya"
print(name)

course="data analyst"
print(course)

mango
cricket
dhoni
234
dhoni,gill,hardik dhoni,gill,hardik dhoni,gill,hardik dhoni,gill,hardik dhoni,gill,hardik dhoni,gill,hardik dhoni,gill,hardik
this is a string
hello world
1 2 3 4 5
akshaya
data analyst

# 3.create a string 50 characters and access any 10 using index and slicing any 2 examples

In [19]:
#indexing
str="my name is akshaya,i'm from hyderabad"
print(len(str))
print(str[9])
print(str[2])
print(str[34])
print(str[17])
print(str[-7])
print(str[5])
print(str[29])
print(str[33])
print(str[-32])
print(str[27])

#slicing
print(str[23:38])
print(str[7:-6])

37
s

b
a
d
m
y
a
m

from hyderabad
 is akshaya,i'm from hyd

# 4.explain about string formats
- string formats are classified into three types:
1. old style
2. format style
3. f string method

1.old style format:
- it uses the % operator

In [37]:
#example
name="akshaya"
age=22
str="my name is %s and i'm %d years old"%(name,age)
print(str)

my name is akshaya and i'm 22 years old

2.format style:
- it replaces % with {} with the placeholder
- they use curly braces for the expressions

In [39]:
#example
name="akshaya"
age=22
formated_str="my name is {} and i'm {} years old" .format(name,age)
print(formated_str)

my name is akshaya and i'm 22 years old

3.f-string method:
- to simplify string formatting and interpolation
- f-string is used where expressions inside curly braces {} are evaluted

In [47]:
#example
name="akshaya"
age=22
str=f"my name is {name} and i'm {age} years old."
print(str)

my name is akshaya and i'm 22 years old.

# 5.apply operations

1.concatnation:
- adding of things

In [51]:
#concatenation
a="my name is"
b="akshaya"
c=a+' '+b
print(c)

my name is akshaya

2.repetition:
- repeat values of a string

In [55]:
#repetition
str1="my name is akshaya "
str2=str1*7
print(str2)

my name is akshaya my name is akshaya my name is akshaya my name is akshaya my name is akshaya my name is akshaya my name is akshaya

3.slicing:
- slicing is a process of extracting a substring from a string

In [65]:
#slicing
str1="my name is akshaya "
print(str[-5])
print(str[12])

k

4.indexing:
-accessing individual character in a string

In [67]:
#indexing
str1="my name is akshaya "
print(str[8:-13])
print(str[4:6])

is akshaya and i'm
am

# 6.apply methods

1.len(): counts the characters in a string

In [75]:
#example
my_string="hello "
print(len(my_string))

6

2.lower()/upper(): converts entire data into lower/upper

In [73]:
#example
my_string="hello"
print(my_string.upper())

HELLO

3.strip(): used to remove spaces beggining and ending

In [71]:
#example
my_string="  python  "
stripped_string=my_string.strip()
print(stripped_string)

python

4.replace(): replace substring with another substring

In [79]:
#example
my_string="my name is akshaya"
str=my_string.replace("akshaya","pavani")
print(str)

my name is pavani

5.split: splits the one string into substring

In [81]:
#example
str="my name is akshaya"
str1=(str.split())
print(str1)

['my', 'name', 'is', 'akshaya']

6.join: it joins the substring all into one string

In [85]:
#example
name=['akshaya','pavani','srija','vaish']
print(" ".join(name))

akshaya pavani srija vaish

7.capitalize: it converts the first character to upper case

In [89]:
#example
r="akshaya"
print(r.capitalize())

Akshaya

8.casefold: it returns the string into lower case

In [91]:
#example
name="AksHAya"
print(name.casefold())

akshaya

9.center: it returns the centered string

In [95]:
#example
name="akshaya kurella"
print(name.center(77))

                               akshaya kurella

10.count: it represents the number of occurance of a string

In [111]:
#example
str="my name is akshaya"
print(str.count('is'))

1

11.find: it finds the string place and identifies it

In [115]:
#example
str="my name is akshaya"
print(str.find('is'))

8

12.encode: it returnes the encoded version of the string

In [121]:
#example
name="akshaya"
end=name.encode()
print(end)

b'akshaya'

13.endswith: it prints true if the string ends with the specified value

In [215]:
#example
name="akshaya"
str=name.endswith('ak')
print(str)

False

14.format: it formats the specific tabs in the string

In [131]:
#example
name="akshaya"
age=22
formated_string="my name is {} and i'm {} years old" .format(name,age)
print(formated_string)

my name is akshaya and i'm 22 years old

15.expandtabs: it sets the string tab size

In [133]:
#example
text_with_tabs="my,\t name!\thow are you?"
str=text_with_tabs.expandtabs()
print(str)

my,      name!  how are you?

16.index: it returns the position of the string and gives it index number

In [139]:
#example
name="akshaya"
print(name.index('s'))

2

17.isalnum: it returns true if the string is alphanumeric

In [141]:
#example
name="akshaya77"
print(name.isalnum())

True

18.isalpha: it returns true if all the characters in the string are alphabets

In [143]:
#example
name="akshaya77"
print(name.isalpha())

False

19.isascii: it returns true if all character in the string are ascii

In [145]:
#example
import string
str=string.ascii_uppercase
print(str)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

20.isdecimal: it returns true if all character in the string are decimals

In [147]:
#example
weight="66.5,99.6,50"
print(weight.isdecimal())

False

21.isdigit: it returns true if all character in a string are digits

In [151]:
#example
number="7"
print(number.isdigit())

True

22.isidentifier: it returns true if the string is an identifier and it cannot come true is they are numbers

In [153]:
#example
name="akshaya_55"
print(name.isidentifier())

True

23.islower: it returns true if all characters in the string are lowercase

In [155]:
name="Akshaya"
print(name.islower())

False

24.isupper: it returns true if all character in the string are uppercase

In [217]:
name="akshaya"
print(name.isupper())

name="AKSHAYA"
print(name.isupper())

False
True

25.isnumeric: it returns true if all character in the string are numeric

In [221]:
age="66,77"
print(age.isnumeric())
age="7"
print(age.isnumeric())

False
True

26.istitle: it returns true if the string is title cased

In [227]:
str="my name is akshaya"
print(str.istitle())

False

27.isspace: it returns true if all characters in the string are whitespaces

In [235]:
name="akshayaram"
print(name.isspace())

False

28.isprintable: it returns true if all character in the string are printable

In [237]:
name="akshaya"
print(name.isprintable())

True

29.lstrip: it returns a copy of tyhe string by removing starting whitespaces

In [161]:
#example
str="   akshaya"
print(str.lstrip())

akshaya

30.rstrip: it returns the string by removing the ending whitespaces

In [163]:
#example
str="akshaya"
print(str.rstrip())

akshaya

31.splitlines: it will split the string and returns a list

In [169]:
#example
str="my\n name\n is\n akshaya\n"
c=str.splitlines()
print(c)

['my', ' name', ' is', ' akshaya']

32.ljust: the string methods returns a new string of a given length after substituting a given character in rightside of original string

In [173]:
#example
str="akshaya"
length=5
print(str.ljust(length))

akshaya

33.rjust: thsi method returns a new string of a given length after substituting a given character in leftside of original string

In [175]:
#example
str="akshaya"
length=7
print(str.rjust(length))

akshaya

34.zfill: it returns a copy of the string with 0 characters padded to the left side of the given string

In [183]:
#example
name="my name is akshaya"
print(name.zfill(23))
print(name.zfill(30))
print(name.zfill(40))

00000my name is akshaya
000000000000my name is akshaya
0000000000000000000000my name is akshaya

35.swapcase: converts all uppercase characters to lowercase and viceversa

In [185]:
#example
str="AksHaYa"
print(str.swapcase())

str="akshaya"
print(str.swapcase())

ste="AKSHAYA"
print(str.swapcase())

aKShAyA
AKSHAYA
AKSHAYA

36.startswith: returns true if a string starts with the given prefix

In [191]:
str="akshaya"
print(str.startswith("Akshaya"))

False

37.rindex: returns the highest index of the substring inside the string

In [195]:
str='akshaya for akshaya'
name=str.rindex('akshaya')
print("substring 'akshaya':",name)

substring 'akshaya': 12

38.rfind: returns the highest index of the substring

In [199]:
str="akshayaforakshaya"
print(str.rfind("akshaya"))

10

39.format_map:formats specified values in a string using a dictionary

In [207]:
a={'x':'akshaya','y':'ram'}
print("{x}'s last name is {y}".format_map(a))

akshaya's last name is ram

40.translate: modify string according to given translation mapping

In [213]:
translation={103:None,101:None,101:None}
str="akshaya"
print("translated string:",str.translate(translation))

translated string: akshaya