# 1. define tuple
- a tuple is a data type that represents an ordered,immutable(unchangeable) sequence of elements
- tuples are similar to lists,but the key difference is that tuples cannot be modified once they are created
- they are defined using parentheses() and elements are seperated by commas
- it allows duplicates

# 2 write 10 examples of tuple

In [8]:
cricketers=("msdhoni","gill","sanju")
print(type(cricketers))

<class 'tuple'>

In [10]:
name=("akshaya","ram","dhoni")
print(name)

('akshaya', 'ram', 'dhoni')

In [12]:
cricketers=("akshaya","ram","gill","sanju","hardik","ram","akshaya","hardik")
print(cricketers)

('akshaya', 'ram', 'gill', 'sanju', 'hardik', 'ram', 'akshaya', 'hardik')

In [14]:
fruits=("mango","apple","grapes","banana","7","77")
print(fruits)

('mango', 'apple', 'grapes', 'banana', '7', '77')

In [18]:
a=("1","3","6","4")
print(a)
print(type(a))

('1', '3', '6', '4')
<class 'tuple'>

In [20]:
tuple=("8+7j","77","gill","mango","a")
print(tuple)

('8+7j', '77', 'gill', 'mango', 'a')

In [22]:
cars=("ferrari","mercedes","mahindra thar","swift","baleno")
print(cars)

('ferrari', 'mercedes', 'mahindra thar', 'swift', 'baleno')

In [26]:
number=(1,2,3,4,5,6)
print(number)

(1, 2, 3, 4, 5, 6)

In [30]:
mixed_tuple=("ferrari","akshaya","ram","7","mango","maths","66.7")
print(mixed_tuple)

('ferrari', 'akshaya', 'ram', '7', 'mango', 'maths', '66.7')

In [32]:
dishes=("mutton","chicken","fish")
print(dishes)

('mutton', 'chicken', 'fish')

# 3.accessing of tuples

In [34]:
name=("akshaya","ram","srija","chandu")
print(name)
print(type(name))

('akshaya', 'ram', 'srija', 'chandu')
<class 'tuple'>

In [36]:
print(name[1])

ram

In [38]:
cricketer=("mahi","gill","hardik")
print(cricketer)
print(type(cricketer))

('mahi', 'gill', 'hardik')
<class 'tuple'>

In [40]:
print(cricketer[1:3])

('gill', 'hardik')

In [42]:
print(cricketer[0:-1])

('mahi', 'gill')

In [44]:
r=(5,6,7,8,9,0,2,1,3)
print(r[3:7])
print(r[-3:-6])

(8, 9, 0, 2)
()

# 4. tuple operations

In [54]:
cricketer=("mahi","gill","hardik")
a=("sanju",)
b=(5,6,7)
total=cricketer+a+b
print(total)

('mahi', 'gill', 'hardik', 'sanju', 5, 6, 7)

In [58]:
name=("srija","akshaya","ram")
z=("chandu",)
u=("sri",)
total=name+z+u
print(total)

('srija', 'akshaya', 'ram', 'chandu', 'sri')

In [60]:
numbers=(2,7,8,5,9)
r=(34,3.4,)
o=(3+7j,)
total=numbers+r+o
print(total)

(2, 7, 8, 5, 9, 34, 3.4, (3+7j))

In [62]:
number=(1,2,3)
rep=number*7
print(rep)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [64]:
names=("mahi","gill")
rep=names*5
print(rep)

('mahi', 'gill', 'mahi', 'gill', 'mahi', 'gill', 'mahi', 'gill', 'mahi', 'gill')

# 5. methods of tuple

1. count: returns the number of the times aa value has been occured

In [68]:
#example
number=(1,2,3,4,5,8,7,5,9)
z=number.count(5)
print(z)

2

2. index: returns the index position of the specific value

In [70]:
#example
number=(1,2,3,4,5,8,7,5,9)
x=number.index(5)
print(x)

4